/*body {
    background-color: #0161AB;
}*/

.bg-white {
    width: 90%;
    margin: 0 auto;
}

.win.final {
    font-weight: bold;
}

.loss {
    background-color: #F3E9E9;    
}

.loss .final { color: red; }

select.form-control {
    height: 45px;
    font-size: 19px;
}

select option {
    padding: 6px;
}
.form-group {
    background-color: #0161AB;
}

.final {
    display: inline-block;
    width: 60px;
    text-align: center;
}

.year {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.roundTitle {
    padding-left:20px;
    display: inline-block;
}

.logo { height: 50px; }

@media screen and (min-width: 768px) {
    .mobile-break {
        display: none;
    }
}

/*@media screen 
and (device-width: 320px) {
    .logo { height: 40px; }
    .roundTitle { padding-left:10px; }
}*/


@media screen 
and (max-width: 340px) {
    .logo { height: 40px; }
    .roundTitle { padding-left:10px; }
}