#tse-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  
  height: 5000px; /* Temp: Simulates a tall page. */
}

#tse-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  
  -webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;          
}

.show-nav #tse-canvas {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.toggle-nav {    
    font-size: 30px;
    color: #fff;
    padding: 5px 20px;
}

a.toggle-nav:hover {
    color: #F3E9E9;
    text-decoration: none;
}

.app-title {
    font-size: 18px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.app-title-desktop {
    float: right;
    color: #fff;
    padding-right: 10px;
}

#tse-navbar {
    background-color: #3C3939;
    width: 100%;
}

#tse-menu li a {
    display: block;
    color: #fff;    
    line-height: 1.28571em;    
    outline: none;
}


@media screen and (max-width: 768px) {
    #tse-menu {
        width: 300px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -300px;
        background: #428bca;
        padding: 15px;
    }

    .toggle-nav { display: inline-block; }
    .app-title-desktop { display: none; }
}

@media screen and (min-width: 769px) {
    #tse-menu ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 52px;
    }

    #tse-menu ul li {
        display: inline-block;
        font-size: 18px;
    }

    .toggle-nav { display: none; }
}


@media screen and (min-width: 45.0625em) {
    #tse-menu li a {
        padding: 0.42857em 0.85714em;
    }
}

/*** overrides ****/
.nav-justified>li {
    display: table-cell;
    width: 1%;
}

.fa-bars:hover { cursor: pointer; }