
<div class="row">
    <a href="#/chooser">
        <img class="img-responsive" id="topLogo" ng-src="{{ teamName | logoFormatter }}"
             style="margin:0 auto; padding: 15px" />
        <canvas id="canLogo" style="height:50px; display:none"></canvas>
        <img id="tempLogo" style="display:none" data-adaptive-background />
    </a>
</div>
<div class="row bg-white">
    <div ng-controller="RivalController" class="form-group">
        <select ng-options="option.Id as option.Name group by option.Division for option in teams"
                ng-model="rival.Id"
                ng-change="update();" class="form-control no-margin"></select>
        <ul class="list-group" style="margin-bottom:0">
            <li ng-repeat="result in results" class="list-group-item"
                ng-class="{win: result.Win, loss: !result.Win}">
                <div>
                    <span class="year">{{ result.Year }}</span>:
                    <span class="final">
                        {{ result.Win ? 'W' : 'L'}}
                        {{ result.GamesWon }} - {{ result.GamesLost}}
                    </span>
                    <img class="logo"
                         ng-src="{{ result.Name | logoFormatter }}" />                    
                    <span class="roundTitle" ng-bind-html="result.RoundTitle | mobileBreak"></span>
                </div>
            </li>
            <li class="list-group-item loss" ng-if="results.length == 0 && selectionMade">
                <div>
                    <span style="font-style:italic">No results found</span>
                </div>
            </li>
        </ul>                            
    </div>
</div>
