USE [TeamSeasonEnders]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 05/09/2016 16:52:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Team](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](50) NULL,
	[Division] [varchar](50) NULL,
	[Conference] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Team] ON
INSERT [dbo].[Team] ([Id], [Name], [City], [State], [Division], [Conference]) VALUES (1, N'Bruins', N'Boston', N'MA', N'Atlantic', N'Eastern')
INSERT [dbo].[Team] ([Id], [Name], [City], [State], [Division], [Conference]) VALUES (2, N'Sabres', N'Buffalo', N'NY', N'Atlantic', N'Eastern')
INSERT [dbo].[Team] ([Id], [Name], [City], [State], [Division], [Conference]) VALUES (3, N'Red Wings', N'Detroit', N'MI', N'Atlantic', N'Eastern')
SET IDENTITY_INSERT [dbo].[Team] OFF
/****** Object:  Table [dbo].[PlayoffResult]    Script Date: 05/09/2016 16:52:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PlayoffResult](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeamId] [int] NOT NULL,
	[OpponentId] [int] NOT NULL,
	[Round] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[GameCount] [int] NULL,
	[GamesWon] [int] NOT NULL,
	[GamesLost] [int] NOT NULL,
 CONSTRAINT [PK_PlayoffResult] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PlayoffResult] ON
INSERT [dbo].[PlayoffResult] ([Id], [TeamId], [OpponentId], [Round], [Year], [GameCount], [GamesWon], [GamesLost]) VALUES (2, 14, 1, N'2', 2013, NULL, 1, 4)
INSERT [dbo].[PlayoffResult] ([Id], [TeamId], [OpponentId], [Round], [Year], [GameCount], [GamesWon], [GamesLost]) VALUES (3, 14, 1, N'1', 1973, NULL, 4, 1)
INSERT [dbo].[PlayoffResult] ([Id], [TeamId], [OpponentId], [Round], [Year], [GameCount], [GamesWon], [GamesLost]) VALUES (4, 14, 1, N'4', 1972, NULL, 2, 4)
SET IDENTITY_INSERT [dbo].[PlayoffResult] OFF
/****** Object:  ForeignKey [FK_PlayoffResult_Opponent]    Script Date: 05/09/2016 16:52:27 ******/
ALTER TABLE [dbo].[PlayoffResult]  WITH CHECK ADD  CONSTRAINT [FK_PlayoffResult_Opponent] FOREIGN KEY([OpponentId])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[PlayoffResult] CHECK CONSTRAINT [FK_PlayoffResult_Opponent]
GO
/****** Object:  ForeignKey [FK_PlayoffResult_Team]    Script Date: 05/09/2016 16:52:27 ******/
ALTER TABLE [dbo].[PlayoffResult]  WITH CHECK ADD  CONSTRAINT [FK_PlayoffResult_Team] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[PlayoffResult] CHECK CONSTRAINT [FK_PlayoffResult_Team]
GO
